header {
  border: 1px solid #999;
  height: 200px;
}
body {
  margin: 0 auto;
  position: relative;
  display: block;
}
#busmall {
  font-family: Rancho;
  font-size: 4em;
}
.navbar {
  text-align: center;
  margin-left: auto;
  }
  p {
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
    font-family: Rancho;
    font-size: .9em;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #999;
}
li {
  float: left;
  }
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a {
  padding: 8px;
  background-color: #dddddd;
}
#container {
  margin-left: 10%;
  max-width: 100%;
  float: left;
}
.flow-left {
  float: left;
}
#image1 {
}
#image2 {
}
#image3 {

}
div {

}
img {
  padding: 20px;
}
section {

}
